@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);

        date_input.datepicker('setDate', new Date(2019, 7, 20));
    })
</script>
<!-- Page Content -->
<div class="container">

    <br />
    <h1 class="text-center">
        Find your ideal hotel
    </h1>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="well">
                <div class="row">
                    <!-- Form code begins -->
                    <form method="post">

                        <div class="col-md-2">
                            <div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="exampleForm2">Going to</label>
                                                <input type="text" id="exampleForm2" placeholder="Destination" class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <div class="form-group">
                                                <!-- Date input -->
                                                <label class="control-label" for="date">Check In</label>
                                                <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <div class="form-group">
                                                <!-- Date input -->
                                                <label class="control-label" for="date1">Check out</label>
                                                <input class="form-control " id="date1" name="date1" placeholder="DD/MM/YYYY" type="text" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <div class="form-group">
                                                <!-- Date input -->
                                                <label class="control-label">Adults</label>
                                                <select class="form-control">
                                                    <option selected>--</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="2">4</option>
                                                    <option value="3">5</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                            <div class="form-group">
                                                <!-- Date input -->
                                                <label class="control-label">Children</label>
                                                <select class="form-control mb-4">
                                                    <option selected>--</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="2">4</option>
                                                    <option value="3">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <br />
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary">Search</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="my-4 text-center">Why Choose Us?</h3>
        <br />
        <br />
        <div class="row">

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Flexible Booking</a></h4>
                        <!-- Text -->
                        <p class="card-text">Adjust your booking with a click of a button. Easily available online</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Discover</a></h4>
                        <!-- Text -->
                        <p class="card-text">Discover, book and manage your trip from anywhere anytime.</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Trusted Services</a></h4>
                        <!-- Text -->
                        <p class="card-text">Our Trusted Services guarantee your booking, so that you never have to worry!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>